<style>
footer {
    bottom: 0;
    position: unset;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    height: 100px;
    margin: auto;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: #ffffff;
}
</style>

<footer class="footer" align="center">
    <p style="font-size:20px">&copy; @DateTime.Now.Year Blaze Cinema - Team Members: Shane McGuire, Conor McDaid, Michael Creamer, Ansh Mahajan</p>
</footer>