@inherits LayoutComponentBase
@inject ISnackbar Snackbar

<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="_theme"/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>

    <MudAppBar Elevation="1" Color="Color.Secondary">
        <MudIconButton aria-label="Toggle light/dark theme" Icon="@GetThemeIcon()" Color="MudBlazor.Color.Inherit" OnClick="DarkMode"/>
        <MudSpacer />
        <NavMenu></NavMenu>
    </MudAppBar>

    <MudMainContent>    
        <MudContainer MaxWidth="MaxWidth.Large">
                @Body
        </MudContainer>
       
    </MudMainContent>
    <footer align="center">
        <p style="font-size:20px">&copy; @DateTime.Now.Year Blaze Cinema - Team Members: Shane McGuire, Conor McDaid, Michael Creamer, Ansh Mahajan</p>
    </footer>
  
</MudLayout>


@code{
    private MudTheme _theme = new();
    private bool _isDarkMode = true;

    private void DarkMode()
    {
        _isDarkMode = !_isDarkMode;
    }

    private string GetThemeIcon()
    {
        if (_isDarkMode)
        {
            return Icons.Material.Outlined.LightMode;
        }
        else
        {
            return Icons.Material.Outlined.DarkMode;
        }
    }
}

