@using Cinema.Shared.DTO
@using System.Net
@inject HttpClient Http
@inject ISnackbar Snackbar

<MudDialog>
    <DialogContent>
        <p>Are you sure you want to delete <b>@Movie.Name?</b></p>
        @if (error != null) 
        {
            <span style="color: red">@error</span>
        }
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="Close">Delete</MudButton>
        <MudButton Color="Color.Secondary" OnClick="Cancel">Cancel</MudButton>
    </DialogActions>
</MudDialog>


@code {
    private const string API_URL = "api/";
    private string error;

    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter] public MovieDTO Movie { get; set; }
    [Parameter] public MudTable<MovieDTO> MudTable { get; set; }

    private async Task Close()
    {
        await DeleteMovieAsync();

        if (error != null) 
        {
            return;
        }

        Snackbar.Configuration.SnackbarVariant = Variant.Filled;
        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.TopRight;
        Snackbar.Add("Movie Deleted", Severity.Success, config =>
        {
            config.VisibleStateDuration = 1000;
            config.Icon = @Icons.Material.Outlined.Check;
        });

        MudDialog.Close(DialogResult.Ok(true));
    }

    private void Cancel()
    {
        MudDialog.Close(DialogResult.Cancel());
    }

    public async Task DeleteMovieAsync()
    {
        var response = await Http.PostAsJsonAsync<MovieDTO>(API_URL + "movie/delete", Movie);
       
        if (response.StatusCode == HttpStatusCode.BadRequest) 
        {
            error = await response.Content.ReadAsStringAsync();
            return;
        }

        await Http.PostAsJsonAsync<int>(API_URL + "file/delete/", Movie.ID);
        await MudTable.ReloadServerData();
    }
}
