@page "/contactdetails"

@inject IJSRuntime JSRuntime
@implements IAsyncDisposable
@using Cinema.Shared.DTO

<PageTitle>Contact</PageTitle>

<MudPaper Class="pa-15 ma-3" Elevation="1">

	<MudText Align="Align.Start" Color="Color.Primary" Typo="Typo.h2"><b>Contact Details</b></MudText>

	<MudStack>
		<MudText Color="Color.Primary" Typo="Typo.h6">PHONE NUMBER:</MudText>
		<MudText Typo="Typo.body1">0749186000</MudText>

		<MudText Color="Color.Primary" Typo="Typo.h6">FAX:</MudText>
		<MudText Typo="Typo.body1">0749186005</MudText>

		<MudText Color="Color.Primary" Typo="Typo.h6">EMAIL:</MudText>
		<MudText Typo="Typo.body1">reception.blazecinema@gmail.com</MudText>

		<MudText Color="Color.Primary" Typo="Typo.h6">ADDRESS:</MudText>
		<MudText Typo="Typo.body1">Blaze Cinema</MudText>
		<MudText Typo="Typo.body1">Port Road</MudText>
		<MudText Typo="Typo.body1">Letterkenny</MudText>
		<MudText Typo="Typo.body1">Co.Donegal</MudText>
		<MudText Typo="Typo.body1">F92 FC93</MudText>
		<MudText Typo="Typo.body1">Ireland</MudText>
	</MudStack>

	
	
</MudPaper>
<MudStack AlignItems="AlignItems.Center">
	<MudText Color="Color.Primary" Typo="Typo.h4"> Location </MudText>
</MudStack>
<div id="map" style="width:800px; height:600px; margin: auto;"></div>
@code {
	private IJSObjectReference? module;
	private string? result;
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			module = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./location.js");
			if (module != null)
			{
				result = await module.InvokeAsync<string>("load_map");
			}
		}
	}

	async ValueTask IAsyncDisposable.DisposeAsync()
	{
		if (module is not null)
		{
			await module.DisposeAsync();
		}
	}
	}