@page "/ourteam"
@using Cinema.Shared.DTO

<h3>Our Team </h3>

<MudPaper Class="pa-15 ma-3" Elevation="1">
	<MudText Align="Align.Start" Color="Color.Primary" Typo="Typo.h2"><b>Our Team</b></MudText>
	<MudStack Row="true" >
		<MudImage Src="images/website/teampic.png" Width="400" Height="500" Alt="Team Picture" Elevation="25" Class="rounded-lg ma-4" />
		<MudImage Src="images/website/teampic.png" Width="400" Height="500" Alt="Team Picture" Elevation="25" Class="rounded-lg ma-4" />
		<MudImage Src="images/website/teampic.png" Width="400" Height="500" Alt="Team Picture" Elevation="25" Class="rounded-lg ma-4" />
	</MudStack>
	<MudStack Row="true" >
		<MudText Color="Color.Primary" Typo="Typo.h6">Shane</MudText>
		<MudText Color="Color.Primary" Typo="Typo.h6">Michael</MudText>
		<MudText Color="Color.Primary" Typo="Typo.h6">Conor</MudText>
	</MudStack>
</MudPaper>

