@page "/booking/{ID:int}"

<h3>Booking</h3>

<PageTitle>Booking Page</PageTitle>

<MudPaper Class="justify-center align-content-center pa-10 ma-2" Elevation="1" Outlined="true">
    <MudGrid Justify="Justify.Center" Spacing="5">

        <MudItem xs="12">
            <RoomLayout></RoomLayout>
        </MudItem>

        <MudItem xs="12">
            We will add a component here that will 
        </MudItem>

    </MudGrid>
</MudPaper>

@code {
    [Parameter] public int ID { get; set; }
}
