@page "/"
@using Cinema.Shared.DTO

<PageTitle>Home Page</PageTitle>

<h1>Display all the movies here by default</h1>
<br/>
<br/>
<br/>
<h3>Movie search bar here</h3>
<br/>
<br/>
<br/>
<h3>Rows and colums of the movies pulled from the DB</h3>


<MovieThumbnail></MovieThumbnail>

<br/>
<br/>
<br/>


<MovieDetails></MovieDetails>


@{
    for (int i = 0; i < 5; i++) {
        <Seat Booked=true></Seat>
        <Seat Booked=false></Seat>
    }
}

@code
{
    private const string API_URL = "api/movie";
    private HttpClient Client { get; set; }
    private List<MovieDTO> Movies { get; set; }
    private List<ScreeningDTO> Screenings { get; set; } // This will used inside of the details page.


    protected override async Task OnInitializedAsync()
    {
        Client = new HttpClient() { BaseAddress = new Uri("https://localhost:5001") };
    }

    public async Task<IEnumerable<MovieDTO>> GetMoviesAsync()
    {
        return await Client.GetFromJsonAsync<List<MovieDTO>>(API_URL + "/movies");
    }
}