@page "/"

<PageTitle>Index</PageTitle>

<h1>Display all the movies here by default</h1>
<br/>
<br/>
<br/>
<h3>Movie search bar here</h3>
<br/>
<br/>
<br/>
<h3>Rows and colums of the movies pulled from the DB</h3>

<SurveyPrompt Title="We could use this for something" />
