@page "/"

<PageTitle>Index</PageTitle>

<h1>We will display all the movies here by default</h1>

<h3>We will display a search bar here</h3>

<h3>Here will be rows and colums of the movies pulled from the DB</h3>


<SurveyPrompt Title="We could use this for something" />
