@using Cinema.Shared.DTO
@inherits ComponentBase

<a href="movie/@MovieID">
    <img src="images/@(MovieID).jpg" width="100%"> @* Make sure all files are the same. EX: .jpg *@
</a>

@code {
    [Parameter]
    public int MovieID { get; set; }
}
