@using Cinema.Shared.DTO
@inherits ComponentBase

<a href="movie/@Movie.ID">
    <img src="images/@(Movie.ID).jpg" width="100%"> @* Make sure all files are the same. EX: .jpg *@
</a>

@*<MudButton Variant="Variant.Filled" FullWidth="true">Details</MudButton>*@

@code {
    [Parameter]
    public MovieDTO Movie { get; set; }
}
