@using Cinema.Shared.DTO
@inherits ComponentBase

<div style="color: white; background-color: darkslategray; width: 225px; gr: auto; align-content: center;">
    <h4>Movie: @movieDTO.Name</h4>
    <img src="images/@(movieDTO.ID).jpg" width="200px"> @* Make sure all files are the same. EX: .jpg *@
    <button value="Movie details"></button>
</div>


@code {
    [Parameter]
    public MovieDTO movieDTO { get; set; } = new MovieDTO { ID = 1, Name = "Puss in Boots: The last wish", AgeRating = "PG", Duration = 102, Trailer = "RqrXhwS33yc" };


    // Create an onlick method to load another page to show the movie details component
    // or use a href and link the ID of movie to other page for there details 

}
