@using Cinema.Shared.DTO
@inherits ComponentBase

<div style="color: white; background-color: darkslategray;">
    <h1>Movie: @movieDTO.Name</h1>
    <img src="images/@(movieDTO.ID).jpg" width="200px"> @* Make sure all files are the same. EX: .jpg *@
    <p>Age Rating: @movieDTO.AgeRating</p>
    <p>Duration: @movieDTO.Duration</p>
    <p>Description: </p>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/@movieDTO.Trailer" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            allowfullscreen>
    </iframe>
</div>


@code {
    [Parameter]
    public MovieDTO movieDTO { get; set; } = new MovieDTO { ID = 1, Name = "Puss in Boots: The last wish", AgeRating = "PG", Duration = 102, Trailer = "RqrXhwS33yc" };
}
