@using Cinema.Shared.DTO
@inherits ComponentBase

<a href="movie/@MovieID">
    <img src="https://localhost:7016/api/file/@(MovieID)" width="100%">
</a>

@code {
    [Parameter] public int MovieID { get; set; }
}
